.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.75em;
}

.head-image {
  width: 15.625em;
}

.head-text {
  font-family: "Hachi Maru pop", cursive;
  margin: 0.3125em 0 1em 0;
}
